html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.display {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;

    & .shiny-text {
        color: #ffffff;
        font-size:80px;
        background-color: transparent;
        border: none;
        padding: 0;
        text-align: center;
        line-height: 10;
        width: 100%;
        outline: none;
    }
}

.contrast-bright {
    background-image: radial-gradient(circle farthest-corner at center , #666666 40px, #000000 500px);

    & .shiny-text {
        text-shadow:
            0 0 5px #FFDD1B,
            0 0 10px #FFDD1B,
            0 0 15px #FFDD1B,
            0 0 30px #FFDD1B,
            0 0 40px #FFDD1B,
            0 0 50px #FFDD1B,
            0 0 80px #FFDD1B,
            0 0 110px #FFDD1B,
            0 0 150px #FFDD1B,
            0 0 170px #FFDD1B,
            0 0 190px #FFDD1B,
            0 0 190px #FFDD1B,
            0 0 190px #FFDD1B,
            0 0 200px #FFDD1B;
    }
}

.contrast-middle {
    background-image: radial-gradient(circle farthest-corner at center , #666666 40px, #000000 350px);

    & .shiny-text {
        text-shadow:
            0 0 5px #FFDD1B,
            0 0 10px #FFDD1B,
            0 0 15px #FFDD1B,
            0 0 30px #FFDD1B,
            0 0 40px #FFDD1B,
            0 0 50px #FFDD1B,
            0 0 80px #FFDD1B,
            0 0 110px #FFDD1B,
            0 0 150px #FFDD1B,
            0 0 170px #FFDD1B;
    }
}

.contrast-dark {
    background-image: radial-gradient(circle farthest-corner at center , #555555 10px, #000000 300px);

    & .shiny-text {
        text-shadow:
            0 0 5px #FFDD1B,
            0 0 15px #FFDD1B,
            0 0 30px #FFDD1B,
            0 0 50px #FFDD1B;
    }
}

.spin-fast .shiny-text {
    animation: spin 0.5s linear infinite;
}

.spin-middle .shiny-text {
    animation: spin 0.75s linear infinite;
}

.spin-slow .shiny-text {
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}