html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.display {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;

    & .shiny-text {
        color: #ffffff;
        font-size:80px;
        background-color: transparent;
        border: none;
        padding: 0;
        text-align: center;
        line-height: 10;
        width: 100%;
        outline: none;

        @media (max-width: 768px) {
            font-size: 50px;
        }
    }
    
    & .shiny-image {
        background-color: transparent;
        border: none;
        border-radius: 50%;
        padding: 0;
        width: auto;
    }
}

.contrast-bright {
    background-image: radial-gradient(circle farthest-corner at center , #666666 40px, #000000 500px);

    & .shiny-text {
        text-shadow:
            0 0 5px #FFDD1B,
            0 0 10px #FFDD1B,
            0 0 15px #FFDD1B,
            0 0 30px #FFDD1B,
            0 0 40px #FFDD1B,
            0 0 50px #FFDD1B,
            0 0 80px #FFDD1B,
            0 0 110px #FFDD1B,
            0 0 150px #FFDD1B,
            0 0 170px #FFDD1B,
            0 0 190px #FFDD1B,
            0 0 190px #FFDD1B,
            0 0 190px #FFDD1B,
            0 0 200px #FFDD1B;
    }
    
    & .shiny-image {
        box-shadow:
            0 0 5px #FFDD1B,
            0 0 10px #FFDD1B,
            0 0 15px #FFDD1B,
            0 0 30px #FFDD1B,
            0 0 40px #FFDD1B,
            0 0 50px #FFDD1B,
            0 0 80px #FFDD1B,
            0 0 110px #FFDD1B,
            0 0 150px #FFDD1B,
            0 0 170px #FFDD1B,
            0 0 190px #FFDD1B,
            0 0 190px #FFDD1B,
            0 0 190px #FFDD1B,
            0 0 200px #FFDD1B,
            0 0 210px #FFDD1B;
    }
}

.contrast-middle {
    background-image: radial-gradient(circle farthest-corner at center , #666666 40px, #000000 350px);

    & .shiny-text {
        text-shadow:
            0 0 5px #FFDD1B,
            0 0 10px #FFDD1B,
            0 0 15px #FFDD1B,
            0 0 30px #FFDD1B,
            0 0 40px #FFDD1B,
            0 0 50px #FFDD1B,
            0 0 80px #FFDD1B,
            0 0 110px #FFDD1B,
            0 0 150px #FFDD1B,
            0 0 170px #FFDD1B;
    }

    & .shiny-image {
        box-shadow:
            0 0 5px #FFDD1B,
            0 0 10px #FFDD1B,
            0 0 15px #FFDD1B,
            0 0 30px #FFDD1B,
            0 0 40px #FFDD1B,
            0 0 50px #FFDD1B,
            0 0 80px #FFDD1B,
            0 0 110px #FFDD1B,
            0 0 150px #FFDD1B,
            0 0 170px #FFDD1B;
    }
}

.contrast-dark {
    background-image: radial-gradient(circle farthest-corner at center , #555555 10px, #000000 300px);

    & .shiny-text {
        text-shadow:
            0 0 5px #FFDD1B,
            0 0 15px #FFDD1B,
            0 0 30px #FFDD1B,
            0 0 50px #FFDD1B;
    }
    
    & .shiny-image {
        box-shadow:
        0 0 50px #FFDD1B,
        0 0 90px #FFDD1B;
    }
}

.spin-fast .shiny-text, .spin-fast .shiny-image {
    animation: spin 0.5s linear infinite;
}

.spin-middle .shiny-text, .spin-middle .shiny-image {
    animation: spin 0.75s linear infinite;
}

.spin-slow .shiny-text, .spin-slow .shiny-image {
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.toolbar {
    display:flex;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;

    & button {
        display: inline;
        width: 50%;
        font-size: 20px;
        border: 1px solid #f5f5f5;
        background-color: #ffffff;
        color: #000000;
    }
}

.hidden {
    display: none;
}